/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

h1 {
     font-size: 3em;
}

body {
     display: flex;
     flex-direction: column;
     padding: 30px;
}


/******************************************
/* LAYOUT
/*******************************************/
header,
header div,
.order-section,
.order-section-left,
.order-section-right,
.book-card div {
     display: flex;
     justify-content: space-between;
}

header,
.order-section {
     margin-bottom: 30px;
}

.order-section {
     width: 100%;
     background: gainsboro;
     height: 30px;
     line-height: 30px;
}

.order-section-right {
     flex-basis: 10%;
     margin-right: 20px;
}

.book-card div {
     display: flex;
     flex-direction: column;
     position: relative;
}

.book-card div section {
     margin: 30px 10px;
}

#add-book {
     align-self: flex-end;
     margin: 10px 30px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header section {
     width: 300px;
     padding: 30px;
     color: dodgerblue;
     border: 1px solid dodgerblue;
     margin: 10px
}

.book-card {
     width: 350px;
     height: 300px;
     background: blueviolet;
     color: white;
     font-size: 1.3em;
     line-height: 1.3em;
     padding: 20px;
     margin: 10px
}

.book-card div button {
     align-self: flex-end;
}

.close {
     position: absolute;
     right: 5px;
     top: 5px;
     width: 32px;
     opacity: 0.3;
}

.close:hover {
     opacity: 1;
}

.close:before,
.close:after {
     position: absolute;
     left: 15px;
     content: ' ';
     height: 33px;
     width: 5px;
     background-color: #333;
}

.close:before {
     transform: rotate(45deg);
   }

.close:after {
     transform: rotate(-45deg);
   }