/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

h1 {
     font-size: 3em;
}

body {
     display: flex;
     flex-direction: column;
     padding: 30px;
     position: relative;
}

a {
     text-decoration: none;
     color: white;
}


/******************************************
/* LAYOUT
/*******************************************/
header,
header div,
.order-section,
.order-section-left,
.order-section-right,
.book-card div {
     display: flex;
     justify-content: space-between;
}

header,
.order-section {
     margin-bottom: 30px;
}

.order-section {
     width: 100%;
     background: gainsboro;
     height: 30px;
     line-height: 30px;
}

.order-section-right {
     flex-basis: 10%;
     margin-right: 20px;
     position: relative;
}

.book-card div {
     display: flex;
     flex-direction: column;
     position: relative;
}

.book-card div section {
     margin: 30px 10px;
}

#add-book {
     align-self: flex-end;
     margin: 10px 30px;
}

.log p {
     display: flex;
     justify-content: space-between;
}

.log h2 {
     margin-bottom: 15px;
     font-weight: bold;
}

#container {
     display: flex;
     flex-wrap: wrap;
}

#main-container {
     width: 100%;
     height: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

header section {
     width: 300px;
     padding: 30px;
     color: dodgerblue;
     border: 1px solid dodgerblue;
     margin: 10px
}

.book-card {
     width: 350px;
     height: 300px;
     background: blueviolet;
     color: white;
     font-size: 1.3em;
     line-height: 1.3em;
     padding: 20px;
     margin: 10px
}

.book-card div button,
.book-card div label {
     align-self: flex-end;
}

.close {
     position: absolute;
     right: 5px;
     top: 5px;
     width: 32px;
     opacity: 0.3;
}

.close:hover {
     opacity: 1;
}

.close:before,
.close:after {
     position: absolute;
     left: 15px;
     content: ' ';
     height: 33px;
     width: 5px;
     background-color: #333;
}

.close:before {
     transform: rotate(45deg);
   }

.close:after {
     transform: rotate(-45deg);
   }



.switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
}

.switch input {
     opacity: 0;
     width: 0;
     height: 0;
}

.slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     transition: .4s;
     transition: .4s;
}

.slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
}

input:checked + .slider {
     background-color: #760da2;
     border: 1px solid white;
   }
   
input:focus + .slider {
     box-shadow: 0 0 1px #760da2;
     border: 1px solid white;
}

input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     transform: translateX(26px);
     transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
     border-radius: 34px;
}

.slider.round:before {
     border-radius: 50%;
}

#add-book {
     position: absolute;
     color: white;
     border: 1px solid black;
     text-align: center;
     font-size: 3em;
     line-height: 1.3em;
     font-weight: bold;
     background: #760da2;
     right: 5px;
     top: 13em;
     width: 1.3em;
     height: 1.3em;
     opacity: 0.3;
}

#add-book:hover {
     opacity: 1;
}

#add-book:before {
     top: 0;
     left: 50%;
     width: 4px;
     height: 100%;
     margin-left: -2px;
}

#add-book:after {
     top: 50%;
     left: 0;
     width: 100%;
     height: 4px;
     margin-top: -2px;
}

/* .close:before {
     transform: rotate(45deg);
   }

.close:after {
     transform: rotate(-45deg);
   } */

#modal {
     display: flex;
     display: none;
     position: absolute;
     width: 500px;
     height: 100%;
     border: 1px solid black;
     background: white;
     top: 15%;
     left: 40%;
     bottom: 20%;
     flex-direction: column;
}

#modal h2 {
     font-size: 1.3em;
     margin-bottom: 10px;
     text-align: center;
     font-weight: bold;
     margin-top: 18px;
}

#modal form {
     display: flex;
     flex-direction: column;
     padding: 30px;
     gap: 5px;
     align-items: center;
}

#modal form label,
#modal form legend {
     align-self: start;
     padding-left: 20px;
     font-size: 1.2em;
}

#modal form input[type="text"],
#modal form input[type="number"],
#modal form input[type="date"]
 {
     width: 400px;
     height: 40px;
     padding-left: 10px;
     margin-bottom: 18px;
}

.modal-buttons {
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
     gap: 50px
}

.modal-buttons a:nth-child(1) {
     background:red;
     opacity: 0.7;
     width: 100px;
     height: 40px;
     border-radius: 8px;
     border: 1px solid gray;
     font-size: 1.3em;
     font-weight: bold;
}

.modal-buttons a:nth-child(1):hover,
.modal-buttons a:nth-child(2):hover {
     cursor: pointer;
     opacity: 1;
}

.modal-buttons a:nth-child(2) {
     background-color:lime;
     opacity: 0.7;
     width: 100px;
     height: 40px;
     border-radius: 8px;
     border: 1px solid gray;
     font-size: 1.3em;
     font-weight: bold;
}

.order-section-right p:nth-child(1)::before {
     content:"";
     position: absolute;
     left: -30px;
     background-color: #760da2;
     height: 26px;
     width: 26px;
}

.order-section-right p:nth-child(2)::before {
     content:"";
     position: absolute;
     right: 60px;
     background-color: #91799b;
     height: 26px;
     width: 26px;
}